#footer {
    background: #1E1B2C;
    padding-top: 10px;
    position: absolute;
    bottom:0;
    width: 100%;
}
#footer h5{
	 padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.links li a i{
	margin-right: 5px;
}
#footer ul.links li:hover a i {
    font-weight: 700;
}
#footer p.letraChica{
  font-size: 8px;
}
#footer .extra-footer{
  background-color: #081338;
}
/* IDEA: para el newsletter */
#footer .cajaEmail{
  height: 25px;
}
#footer .cajaEmail i{
    background-color: #eccc68;
    width: 40px;
    line-height: 25px;
    border: none;
    outline: none;
}
#footer .boton{
  background-color: #eccc68;
  text-transform: uppercase;
  cursor:pointer;
  border: none;
  outline: none;
}
#footer .cajaTexto{
  width: 0px;
  transition: 0.6s;
}
#footer .cajaEmail:hover > .cajaTexto {
  width:250px;
  padding: 0 10px;
}
#footer .cajaTexto:focus{
  width: 250px;
}
@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
