*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  /* background-color: #F3F3F3; */
}

.formulario input{
  display: block;
}

.formulario input[type=checkbox]{
  display: inline;
}

/*COLUMNAS */
/*
.A{
  background-color: red;
}

.B{
  background-color: blue;
}
*/

.social-iconos {
  display: inline-block;
  color: #FFFFFF;
}

.social-iconos a:hover {
  cursor: pointer;
}
.social-iconos .fab{
  top: -25%;
}


/* Tablet */
@media (min-width:768px){
  .jumbotron{
    height: 510px;
  }
  .jumbotron h2{
    font-size: 16px;
  }
  .jumbotron p{
    font-size: 11px;
  }
  .jumbotron .lead{
    font-size: 14px;
  }
}

/* Desktop */
@media (min-width:1024px){
  .jumbotron h2{
    font-size: 20px;
  }
  .jumbotron p{
    font-size: 16px;
  }
}
